.farm-product-module{
    padding: 10px;
    color: #fff;
    .farm-product-types{
        .tab-type{
            display: inline-block;
            height: 45px;
            line-height: 45px;
            width: 130px;
            min-width: 80px;
            max-width: 200px;
            text-align: center;
            background-color: #2a77a5;
            margin-right: 10px;
            cursor: pointer;
            &:hover{
                background-color: #15ade0;
            }
        }
        .tab-type-checked{
            background-color: #15ade0;
        }
    }
    .products-content{
        padding-top: 10px;
        .product-img-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img{
                width: 150px;
                height: 150px;
                box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .3);
            }
            .product-img-title-title{
                overflow: hidden;
                cursor: pointer;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
                text-align: center;
                &:hover{
                    color: #68d8fe;
                }
            }
        }
    }
}