.login-model{
    min-height: 100vh;
    text-align: center;
    background-image: url('../img/login.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    vertical-align: middle;
    position: relative;
    .login-box{
        border-radius: 5px;
        width: 4.5rem;
        background: transparent;
        background-image: url('../img/login-box.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0 0;
        padding: .5rem .5rem;
        position: absolute;
        right: calc(50% - 2.25rem);
        top: 31%;
        .user-icon{
           color: #04c0d5;
           font-size: 20px;
        }
        .logo-box{
            text-align: start;
            margin-bottom: 10px;
            img{
                width: 0.81rem;
                height: .4rem;
            }
            span{
                margin-left: .15rem;
                font-size: .15rem;
            }
        }
        .message-box{
            padding: 0 0 5px;
            color: #f74949;
        }
        .remeber-me{
            color: #fff !important;
            .ant-form-item-control-input-content{
                flex: none;
            }
        }
        .ant-form-item{
            margin-bottom: 15px;
        }

        .login-button-form-item{
            .login-btn{
                background-color: rgba(4, 192, 213, .5);
                border: none;
                width: 100%;
            }
        }
        .ant-input-affix-wrapper{
            background-color: transparent;
            border: 1px solid #04c0d5;
        }
        input{
            background-color: transparent;
            color: #fff;
        }

        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #04c0d5;
            border-color: #04c0d5;
        }
    }
}