.login-model{
    min-height: 100vh;
    text-align: center;
    background-color: #00c292;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-box{
        width: 4.5rem;
        background: #fff;
        padding: .2rem .5rem;
        position: relative;
        .remeber-me{
            .ant-form-item-control-input-content{
                flex: none;
                margin-left: 35px;
            }
        }
        .ant-form-item{
            margin-bottom: 15px;
        }

        .login-button-form-item{
            position: absolute;
            right: -20px;
            top: calc(50% - 20px);
            .login-btn{
                background-color: #00c292;
                border: none;
            }
        }
    }
}