.landslide-video-box{
    padding: 10px;
    .video-box{
        overflow: hidden;
        .title{
            padding: 10px;
            font-weight: bold;
        }
        background: #fff;
        .ant-modal-body{
            padding: 0;
        }
    }
}