.party-stydy-video-item{
    display: flex;
    .video-title-box{
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-bottom: 10px;
        width: 100%;
        align-items: center;
        .video-cover{
            height: 150px;
            width: 100%;
            box-sizing: border-box;
            padding: 0;
            position: relative;
            overflow: hidden;
            img{
                height: 150px;
                width: 100%;
            }
            .video-hover{
                position: absolute;
                height: 150px;
                width: 100%;
                color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                background-color: rgba(0,0,0,.5);
                &:hover{
                    background-color: rgba(0,0,0,.6);
                    transition: all .3s;
                    color: #fff;
                }
            }
        }
       
        .video-title{
            text-align: center;
            font-weight: bold;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }
}