.video-item{
    display: flex;
    min-width: 315px;
    .video-title-box{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 200px;
        align-items: center;
        .video-cover{
            height: 150px;
            width: 150px;
            box-sizing: border-box;
            padding: 0;
            position: relative;
            overflow: hidden;
            img{
                height: 150px;
                width: 150px;
            }
            .video-hover{
                position: absolute;
                height: 150px;
                width: 150px;
                color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                &:hover{
                    transition: all .3s;
                    background-color: rgba(0,0,0,.5);
                    color: #fff;
                }
            }
        }
       
        .video-title{
            text-align: center;
            font-weight: bold;
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }
    .upload-box{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .opt-btn{
            width: 100px;
            margin: 10px;
        }
    }
}