.farm-product{
    background: url('../../img/box5.png') no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .title-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title-icon-text{
            display: flex;
            align-items: center;
            font-size: 17px;
            .title-icon{
                display: inline-block;
                width: 5px;
                background-color: #5d89f2;
                height: 16px;
                margin-right: 10px;
            }
        }
        .more{
            cursor: pointer;
            &:hover{
                color: #66d8fd;
            }
        }
    }
    .farm-p-img{
        flex-grow: 1;
        .farm-p-img-fr{
            padding-top: 10px;
            height: 50%;
            display: flex;
            justify-content: space-between;
            .farm-p-img-fr-img-title{
                height: 100%;
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    height: .8rem;
                    width: 1rem;
                }
                .farm-p-img-fr-img-title-ig{
                    height: .8rem;
                    width: 1rem;
                }
                .product-name{
                    padding-top: 5px;
                    height: 25px;
                    overflow: hidden;
                    color:#fff;
                    text-align: center;
                }
            }
        }
    }
    
    .spancolor{
        color:#fff;
    }
}