.news-information{
    padding: 10px;
    display: flex;
    flex-direction: column;
    .title-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title-icon-text{
            display: flex;
            align-items: center;
            font-size: 17px;
            .title-icon{
                display: inline-block;
                width: 5px;
                background-color: #5d89f2;
                height: 16px;
                margin-right: 10px;
            }
        }
    }
    .news-box{
        overflow: hidden;
        .story-link{
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .date-box{
            color: #b1b1b1;
            white-space: nowrap;
        }
    }
}