.news-information{
    background: url('../../img/box4.png') no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .title-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title-icon-text{
            display: flex;
            align-items: center;
            font-size: 17px;
            .title-icon{
                display: inline-block;
                width: 5px;
                background-color: #5d89f2;
                height: 16px;
                margin-right: 10px;
            }
        }
        .more{
            cursor: pointer;
            &:hover{
                color: #66d8fd;
            }
        }
    }
    .news-box{
        overflow: hidden;
        .story-link{
             color: #e8e9ed;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover{
                color: #66d8fd;
            }
        }
        .date-box{
            color: #b1b1b1;
            white-space: nowrap;
        }
    }
    
     .spancolor{
        color:#fff;
    }
    
     .ant-list-split .ant-list-item
        {
            border-bottom:1px solid  rgba(68, 240, 233, 0.3);
        }
}