.fan-story1{
    background: url('../../img/box6.png') no-repeat;
    background-position:center;
    background-size: 100% 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    .title-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:40px; 
        color: #fff;
        .more{
            cursor: pointer;
            &:hover{
                color: #66d8fd;
            }
        }
    }
    .fan-content{
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        color: #fff;
        .rotation-box{
            padding: 10px;
            padding-left: 0;
            .rotation{
                height: 1rem;
                width: 1rem;
                .ant-carousel .slick-dots{
                    margin-right: 0;
                    margin-left: 0;
                }
            }
            .rotation-title-box{
               
                margin-top: 10px;
                width: 1rem;
                display: flex;
                flex-direction: column;
                .rotation-title{
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .rotation-time{
                    margin-top: 5px;
                    color: #b1b1b1;
                }
                .rotation-content{
                    color: #b1b1b1;
                    overflow: hidden;
                    flex-grow: 1;
                }
            }
        }
        .story-list-box{
            
            font-weight: bold;
            width: calc(100% - 1rem);
            flex-grow: 1;
            .story-link{
                color: #e8e9ed;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover{
                    color: #66d8fd;
                }
            }
        }
        
        .ant-list-split .ant-list-item
        {
            border-bottom:1px solid  rgba(68, 240, 233, 0.3);
        }
        
    }
}