.small-town-dashboard{
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .fanstory-adver-pr{
        height: 60%;
    }

    .row-party-news-far{
        height: 40%;
    }
    .ant-col {
        padding: 10px;
        height: 100%;
    }
}
  
 