.party-content1{
    background: url('../../img/box3.png') no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .title-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*.title-icon-text{
            display: flex;
            align-items: center;
            font-size: 17px;
            .title-icon{
                display: inline-block;
                width: 5px;
                background-color: #5d89f2;
                height: 16px;
                margin-right: 10px;
            }
        }*/
        .more{
            cursor: pointer;
            &:hover{
                color: #66d8fd;
            }
        }
    }
    
      .spancolor{
            color:#fff;
       }
    
    
    .imgply-news-box{
        flex-grow: 1;
        padding-top: 10px;
        display: flex;
        overflow: hidden;
        .imgply-box{
            width: 40%;
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
            .advertise-content{
                height: 100%;
                color: #fff;
                text-align: center;
                background: #364d79;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .imgply-box-pages{
                position: absolute;
                width: 100%;
                bottom: 10px;
                display: flex;
                justify-content: flex-end;
                z-index: 1000;
                .imgply-box-pages-partyPage{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    margin-bottom: 5px;
                    margin-right: 5px;
                    background-color: rgba(0,0,0,.2);
                    color: #fff;
                }
                .imgply-box-pages-partyPage-checked{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    margin-bottom: 5px;
                    margin-right: 5px;
                    background-color: rgba(0,0,0,.5);
                    color: #fff;
                }
            }
            .ant-carousel .slick-slider{
                height: 100%;
            }
            .ant-carousel{
                height: 100%;
            }
            .ant-carousel .slick-list {
                height: 100%;
            }
            .ant-carousel .slick-track{
                height: 100%;
            }
            .ant-carousel .slick-slide div{
                height: 100%;
            }
        }
        .little-new-news{
            padding-left: 10px;
            width: 60%;
            .newer-title{
                display: flex;
                align-items: center;
                .newer-icon{
                    display: inline-block;
                    width: 5px;
                    background-color: #5d89f2;
                    height: 16px;
                    margin-right: 10px;
                }
            }
            .story-link{
                 color: #e8e9ed;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover{
                    color: #66d8fd;
                }
            }
            .date-box{
                color: #b1b1b1;
                white-space: nowrap;
            }
        }
        
        
        
  
         .ant-list-split .ant-list-item
        {
            border-bottom:1px solid  rgba(68, 240, 233, 0.3);
        }
        
       
    }
}