.poor-rule1{
    background: url('../../img/box7.png') no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    .title-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:40px; 
        color: #fff;
        .more{
            cursor: pointer;
            &:hover{
                color: #66d8fd;
            }
        }
    }
    .rules-box{
        flex-grow: 1;
        overflow: hidden;
        .story-link{
            color: #e8e9ed;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover{
                color: #66d8fd;
            }
        }
        .date-box{
            color: #b1b1b1;
            white-space: nowrap;
        }
    }
    
      .ant-list-split .ant-list-item
        {
            border-bottom:1px solid  rgba(68, 240, 233, 0.3);
        }
        
        
}