.screen-hpoor{
    font-size: .13rem;
    .screen-hpoor-count{
        display: flex;
        height: calc(100% - .4rem);
        justify-content: space-around;
        align-items: center;
        padding: .3rem;
        padding-top: 0;
        svg{
            width: .3rem;
            height: .3rem;
        }
    }

    .sh-v-c{
        display: flex;
        align-items: center;
        justify-content: center
    }

    .sh-mr{
        margin-right: 5px;
    }
}