.dynamic-view-model{
    .title-box{
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .publish-time-click-box{
        padding: 5px;
        background-color: #f2f2f1;
        border: .5px solid #dfdfdf;
        text-align: center;
        border-radius: 3px;
    }
}