.dynamic-view-model{
    overflow: auto;
    img{
        width: 100%;
    }
    .title-box{
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .publish-time-click-box{
        padding: 5px;
        background-color: #f2f2f1;
        border: .5px solid #dfdfdf;
        text-align: center;
        border-radius: 3px;
    }
    .dynamic-video-box{
        padding: 10px;
        video{
            height: 100%;
        }
    }
    .dynamic-view-content{
        padding-top: 10px;
    }
}