.site-layout-background{
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
        border-right: 3px solid #5d89f2;
    }
    
    .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after{
        position: absolute;
        width: 6px;
        height: 1.5px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.65)), to(rgba(255, 255, 255, 0.65)));
        background-image: linear-gradient(to right,(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)));
        border-radius: 2px;
        -webkit-transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        content: '';
    }
    
    
.ant-menu-submenu > .ant-menu 
 {
     background: rgba(0, 0, 0, 0);
 }
 
 
    .leftbg{
        background: url('../../img/left.jpg') no-repeat;
    }

    .ant-menu-item-selected{
        color: #5d89f2;
    }
   
    
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        color:#ff701b;
        background: url('../../img/active.png') no-repeat;
        //background-color:rgba(0, 0, 0, 0);
    }
    


    .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
        color: #5d89f2;
    }

    .psn-menu{
        color: #41434d;
        clear: both;
        display: block;
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: 700;
        line-height: 50px;
        padding: 0;
        text-transform: uppercase;
        &:hover{
            color: rgba(0, 0, 0, 0.65);
        }
    }
    .ant-menu-item{
       // margin-top:20px; 
        color: rgba(255, 255, 255, 0.85);
        font-size: 16px;
    }
    
    .ant-menu-submenu
    {
        font-size: 16px; 
        color: rgba(255, 255, 255, 0.85);
    }
    
    .ant-menu-submenu-arrow{
        color: #fff;
    }
    

    .ant-menu-item-selected a, .ant-menu-item-selected a:hover {
        color: #5d89f2;
    }
    .ant-menu-item a {
        color: rgba(255, 255, 255, 0.85);
    }
    
   
    .ant-menu-item a:hover {
        color: #5d89f2;
    }

    .ant-menu-item-selected a{
         color:#ff701b;
         text-decoration: none;
    }
    
}


